body {
/*    background: #000;*/
/*    color: #ececec;*/
    font-family: arial, sans-serif;text-align: center;
    text-align: center;
    padding-bottom: 50vh;
    font-weight: 100;
}

h1 {
  margin: 100px auto 50px auto;
}

h2 {
  display: inline-block;
  padding-bottom: 5px;
  margin-bottom: 20px;
  border-bottom: 1px solid #777777;
}

p {
  margin: 0 auto;
}

.g-step  {
  margin: 50px auto;
}

.g-step-1 {
  display: block;
}

input {
  text-align: center;
}

button, input::file-selector-button {
  margin: 10px auto;
  padding: 5px 10px;
  background: #000;
  color: #ececec;
  box-shadow: none;
  border: 1px solid #333;
  font-size: 15px;
}

form {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.g-input-cont {
  background: rgba(0,0,0,0.1);
  margin-bottom: 20px;
}

.g-step-1 input {
  padding: 40px 20px;
  width: 100%;
  text-align: center;
  max-width: 200px;
}

input::file-selector-button {
  margin-right: 10px;
}

button {
  display: block;
}

button:hover {
  cursor: pointer;
  background: #777;
}

.audio-container {
  width: 600px;
  margin: 0 auto;
/*  box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.3);*/
  font-family: "Roboto", sans-serif;
  position: relative;
  overflow: visible;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  border: 1px solid #ddd;
}

.audio-container .audio {
  width: 100%;
  height: 130px;
}

.track-name {
  font-size: 13px;
  margin-bottom: 10px;
}

.audio-container .btn {
  padding: 16px;
  width: 24px;
  margin-right: 8px;
  cursor: pointer;
  display: inline-block;
}

.audio-container .volume-slider {
  width: 200px;
}

.audio-container .buttons .play-btn .fa-pause {
  display: none;
}

.audio-container .buttons .play-btn.playing .fa-pause {
  display: inline-block;
}

.audio-container .buttons .play-btn.play-btn.playing .fa-play {
  display: none;
}

.audio-container .buttons .mute-btn .fa-volume-mute {
  display: none;
}

.audio-container .buttons .mute-btn.muted .fa-volume-mute {
  display: inline-block;
}

.audio-container .buttons .mute-btn.muted .fa-volume-up {
  display: none;
}

svg {
  overflow: visible;
}

.g-step-3 svg {
  display: block;
  overflow: visible;
  position: absolute;
  top: 0;
}

svg text{
  font-size: 5px;
  fill: #fff;
}

.guideg {
  display: none;
}

.g-guide-button {
  background: none;
  color: #999;
  border: none;
  display: inline-block;
  font-size: 11px;
  padding: 0;
  margin: 0 0 20px 0;
}

.g-guide-button:hover {
  background: none;
  opacity: 0.8;
}

.g-guide-button .g-inner {
  border-bottom: 1px dotted #000;
  display: inline;
}

.g-bar-chart-wrapper {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
/*  background: rgba(0,0,0,0.1);*/
  padding-top: 25px;
}

.audio-container .buttons {
/*  background: rgba(0,0,0,0.1);*/
}

.g-bar-chart {
  /*position: absolute;
  top: 8px;
  left: 0;*/
  z-index: 10;
}

.g-a3-outer-cont {
  max-width: 600px;
  margin: 0 auto;
  position: relative;
    border: 1px solid #ddd;
}

.g-a3-cont {
  width: 100%;
  padding-bottom: 70.7142857%;
/*  background: #000;*/
}

.g-step-3 svg.g-letter {
  display: none;
}

.g-step-3 svg.g-letter.g-active {
  display: block;
}

.g-canvas-cont {
  position: absolute;
  top: 0;
  left: 0;
}

.g-selector {
  margin: 10px auto;
  user-select: none;
}

.g-selector .g-select {
  display: inline;
  cursor: pointer;
  opacity: 0.3;
}

.g-selector .g-select.g-active {
  opacity: 1;
}